.nav{
   width: 1325px;
   background-color: #f0f0f0;
   padding: 10px;
   border: 1px solid #ccc;
   height: 50px;

}
.active{

    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    list-style-type:none;
    margin: 0;
    padding: 0;
}
button{
    background-color: lightblue;
    border: dashed lightblue 2px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover{
 background-color: white;
 color: blue;
    border: dashed blue 2px;
}
.active:hover{
    color: blue;
   
    text-decoration: none;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url( ./images/ChatGPT\ Image\ Nov\ 20\,\ 2025\,\ 01_14_08\ PM.png);
    background-size: cover;
    background-repeat: no-repeat;

}