.nav{
   width: 1570px;
   background-color: #f0f0f0;
   padding: 10px;
   border: 1px solid #ccc;
   height: 50px;

}
.active{

    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}
.flex{
    display: flex;
    justify-content:space-evenly;
    align-items: center;    
}